
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>验证码</title>
</head>
<body>
<form action="/booktest/yz_home/" method="POST">
    {% csrf_token %}
<div> 用户名：<input type="text" placeholder="用户名" name="username"></div>
<div>密码：<input type="password" placeholder="密码" name="pwa"></div>
<div>验证码：<input type="text" name="yzm"></div>
<img src="http://127.0.0.1:8000/booktest/yanzheng/" onclick="shuaxin(this);">
<div><input type="submit" value="确认"></div>
 <!--<script src="/static/js/jquery-1.12.4.js">-->
 </script>
 <script>
  function shuaxin(ths){
{#    ths.src = ths.src + "?"#} 
   var i =$(ths).prop("src")
    $(ths).prop("src",i+"?")
  }
 </script>
</form>
</body>
</html>
 